<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="projet.css">
</head>
<body>
     <header>
        <img src="logofleur.jpeg" alt="Logo FlowerDeco" id="logo">
        <h2>La Rose Éternelle</h2>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="projet.html">Nos produits</a></li>
            <li><a href="achat.html">Acheter</a></li>
        </ul>
    </header>

   <section id="vases" class="vases-animation-section">
        <h2 class="titre-section">Nos Vases Recyclés </h2>
        
        <div class="train-container">
            <div class="train-track">
                <div class="vase-box">
                    <img src="vase2.jpeg" alt="Vase">
                    <span class="vase-price">120 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase3.jpeg" alt="Vase">
                    <span class="vase-price">80 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase4.jpeg" alt="Vase">
                    <span class="vase-price">150 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase5.jpeg" alt="Vase">
                    <span class="vase-price">90 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase6.jpeg" alt="Vase">
                    <span class="vase-price">110 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                
                <div class="vase-box">
                    <img src="vase2.jpeg" alt="Vase">
                    <span class="vase-price">120 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase3.jpeg" alt="Vase">
                    <span class="vase-price">80 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase4.jpeg" alt="Vase">
                    <span class="vase-price">150 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase5.jpeg" alt="Vase">
                    <span class="vase-price">90 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
                <div class="vase-box">
                    <img src="vase6.jpeg" alt="Vase">
                    <span class="vase-price">110 DH</span>
                    <button class="btn-acheter">Acheter</button>
                </div>
            </div>
        </div>
    </section>

    <section id="packs" class="packs-details-section">
        <h2 class="titre-section">Le Contenu de nos Packs </h2>

        <div class="pack-container">
            <h3 class="pack-title"> Pack 1 : Élégance Florale</h3>
            
            <div class="flowers-grid">
                <div class="flower-card">
                    <img src="tulipe1.jpeg" alt="Tulipe">
                    <h4>Tulipe</h4>
                    <span class="flower-price">50 DH</span>
                </div>
                
                <div class="flower-card">
                    <img src="lys.jpeg" alt="Lys">
                    <h4>Lys</h4>
                    <span class="flower-price">55 DH</span>
                </div>
                <div class="flower-card">
                    <img src="orchid.jpeg" alt="Orchidée">
                    <h4>Orchidée</h4>
                    <span class="flower-price">75 DH</span>
                </div>
            </div>
            
            <div class="pack-total-box">
                <div class="prix-info">
                    <p>Prix total du pack :</p>
                    <span class="total-price">180 DH</span>
                </div>
                <button class="btn-acheter-pack">Acheter le Pack</button>
            </div>
        </div>

        <div class="pack-container">
            <h3 class="pack-title"> Pack 2 : Parfum Naturel</h3>
            
            <div class="flowers-grid">
                <div class="flower-card">
                    <img src="jasmin1.jpeg" alt="Jasmin">
                    <h4>Jasmin</h4>
                    <span class="flower-price">45 DH</span>
                </div>
                <div class="flower-card">
                    <img src="rose.jpeg" alt="Rose">
                    <h4>Rose</h4>
                    <span class="flower-price">60 DH</span>
                </div>
                <div class="flower-card">
                    <img src="lavande1.jpeg" alt="Lavande">
                    <h4>Lavande</h4>
                    <span class="flower-price">40 DH</span>
                </div>
            </div>

            <div class="pack-total-box">
                <div class="prix-info">
                    <p>Prix total du pack :</p>
                    <span class="total-price">120 DH</span>
                </div>
                <button class="btn-acheter-pack">Acheter le Pack</button>
            </div>
        </div>


        <div class="pack-container">
            <h3 class="pack-title"> Pack 3 : Débutant Facile</h3>
            
            <div class="flowers-grid">
                <div class="flower-card">
                    <img src="souci.jpeg" alt="Souci">
                    <h4>Souci</h4>
                    <span class="flower-price">25 DH</span>
                </div>
                <div class="flower-card">
                    <img src="marguerite.jpeg" alt="Marguerite">
                    <h4>Marguerite</h4>
                    <span class="flower-price">30 DH</span>
                </div>
                <div class="flower-card">
                    <img src="tournesol.jpeg" alt="Tournesol">
                    <h4>Tournesol</h4>
                    <span class="flower-price">35 DH</span>
                </div>
            </div>

            <div class="pack-total-box">
                <div class="prix-info">
                    <p>Prix total du pack :</p>
                    <span class="total-price">90 DH</span>
                </div>
                <button class="btn-acheter-pack">Acheter le Pack</button>
            </div>
        </div>

        <div class="pack-container">
            <h3 class="pack-title"> Pack 4 : Éco-Pollinisateur</h3>
            
            <div class="flowers-grid">
                <div class="flower-card">
                    <img src="cosmos1.jpeg" alt="Cosmos">
                    <h4>Cosmos</h4>
                    <span class="flower-price">35 DH</span>
                </div>
                <div class="flower-card">
                    <img src="bourrache.jpeg" alt="Bourrache">
                    <h4>Bourrache</h4>
                    <span class="flower-price">40 DH</span>
                </div>
                <div class="flower-card">
                    <img src="calendula.jpeg" alt="Calendula">
                    <h4>Calendula</h4>
                    <span class="flower-price">35 DH</span>
                </div>
            </div>

            <div class="pack-total-box">
                <div class="prix-info">
                    <p>Prix total du pack :</p>
                    <span class="total-price">110 DH</span>
                </div>
                <button class="btn-acheter-pack">Acheter le Pack</button>
            </div>
        </div>
        
    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-about">
                <h3>La Rose Éternelle </h3>
                <p>Cultivez votre propre magie. Des graines 100% bio et des vases recyclés pour donner vie à votre espace avec élégance et respect de la nature.</p>
            </div>

            <div class="footer-links">
                <h3>Liens Rapides</h3>
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="produits.html">Nos produits</a></li>
                    <li><a href="#">Acheter</a></li>
                    <li><a href="#">Notre concept</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h3>Contactez-nous</h3>
                <p>📍 Casablanca, Maroc</p>
                <p>📞 +212 7 66 55 14 70</p>
                <p>✉️ contact@laroseeternelle.ma</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 La Rose Éternelle. Tous droits réservés.</p>
        </div>
    </footer>
    <script src="panier.js"></script>
</body>
</html>